<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="NSubstitute" version="1.1.0.0" targetFramework="net40" />
  <package id="NuGet.CommandLine" version="1.4.20615.182" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40" />
  <package id="SpecFlow.NUnit.Runners" version="1.0.0" targetFramework="net40" />
  <package id="StronglyTypedContext" version="1.0.5093.15956" targetFramework="net40" />
</packages>