using System.Reflection;
using System.Runtime.InteropServices;
[assembly: AssemblyTitle("nuserve")]
[assembly: AssemblyDescription("Hosts the nuget.server functionality as a self-hosted process outside of IIS.")]
[assembly: AssemblyCompany("David Alpert")]
[assembly: AssemblyProduct("nuserve - built_by_visual_studio")]
[assembly: AssemblyCopyright("")]
[assembly: AssemblyVersion("1.4.0")]

