<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 1. Customize the endpoints nuserve uses to listen for nuget requests.
    
            The appSettings below represent nuserve defaults. 
            
            To change them, uncomment the settings you want to customize.
            
            Sample usage (after starting nuserve.exe):
            PS> nuget.exe list -Source {PackageListUri}
            PS> nuget.exe push {path\to\some.nupkg} {ApiKey} -Source {PackageManagerUri}
    -->
    <!--
    <add key="EndpointSettings.PackageListUri" value="http://localhost:89/packages"/>
    <add key="EndpointSettings.PackageManagerUri" value="http://localhost:89"/>
    -->

    <!-- 2. Customize the local package repository folder.
    
            The default location for packages is a Packages folder
            immediately underneath the nuserve.exe folder.
            
            To change the location where *.nupkg files are stored, 
            uncomment this setting and customize the path. 
            
            Paths starting with '~/' are resolved relative to the folder
            containing nuserve.exe. Absolute paths are also supported. 
            In all cases the credentials running nuserve.exe must have 
            read and write access to the package folder.
    -->
    <!--
    <add key="RepositorySettings.PathToServerPackageRepository" value="~/Packages"/>
    -->

    <!-- 3. Choose to enable (or leave disabled) pushing packages via nuget.exe
    
            To enable pushing via nuget.exe, uncomment the following appSetting
            and use the specified value as the 'ApiKey' when calling nuget.exe
            
            NOTE: in contrast to the apiSettings shown above, the ApiKey 
                  appSetting commented below is *not* the default value.
                  
                  By default, the ApiKey is an empty string which disables
                  pushing packages to nuserve via nuget.exe; this ensures 
                  that opening up that ability is a conscious choice.
    -->
    <!--
    <add key="ApiSettings.ApiKey" value="nuget"/>
    -->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.20609.9012"
                         newVersion="1.4.20609.9012"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
