<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- uncomment this appSetting to customize nuserve's endpoint port
    <add key="EndpointSettings.Port" value="13234"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
