<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- uncomment this appSetting to customize nuserve's endpoint port
    <add key="EndpointSettings.Port" value="13234"/>
    -->
    <!-- uncomment this appSetting to customize the apikey nuserve uses to authenticate a publish
    <add key="ApiSettings.ApiKey" value="nuget"/>
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.20609.9012"
                         newVersion="1.4.20609.9012"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
