<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" />
  <package id="Topshelf" version="2.2.2.0" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="FubuCore" version="0.9.1.32" />
  <package id="structuremap" version="2.6.2" />
  <package id="CommonServiceLocator.StructureMapAdapter" version="1.1.0.2" />
  <package id="Nancy" version="0.6.0" />
  <package id="Nancy.Hosting.Self" version="0.6.0" />
  <package id="Nancy.BootStrappers.StructureMap" version="0.6" />
  <package id="Nuget.Core" version="1.4.20615.9012" />
  <package id="Nuget.Server" version="1.4.20623.9012" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="RouteMagic" version="1.0" />
  <package id="WebActivator" version="1.4.1" />
  <package id="PublishedApplications" version="2.1.0.0" />
</packages>